@include establish-baseline;

img {
  max-width: 100%;
}

a {
  color: $solar-blue;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

hr {
  border: none;
  border-top: 1px solid $post-border-color;
}

.group {
  zoom: 1; /* IE6&7 */

  &:before, &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.vertical-center {
  &:before {
    content: '';
    width: 1px;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-right: -1px;
  }
  .center-inner {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
  }
}

.hide {
  display: none;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}

.inline-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li { display: inline; }
  li.hide { @extend .hide; }
}
