@media (max-width: 800px) {
	.page-header .avatar {
		right: 60px;
	}
  .wrapper {
    padding-left: 60px;
  	padding-right: 60px;
  }
  body > .wrapper {
  	overflow: hidden;
  }
}
@media (max-width: 550px) {
  .page-header .blog-headline {
    padding-right: 90px;
  }
	.page-header .avatar {
		right: 20px;
    top: 30px;
    bottom: auto;
	}
  .wrapper {
    padding-left: 20px;
  	padding-right: 20px;
  }
  body > .wrapper {
  	overflow: hidden;
  }
  .post-content {
    h1, h2, h3 {
      &:before {
        margin-left: 0;
        margin-right: 0.5em;
      }
    }
    img {
      max-width: 100%;
    }
  }
}