@media (max-width: 800px) {
	.page-header .avatar {
		right: 60px;
	}
  .wrapper {
  	padding: 0 60px;
  }
  body > .wrapper {
  	overflow: hidden;
  }
}
@media (max-width: 500px) {
	.page-header .avatar {
		right: 20px;
	}
  .wrapper {
  	padding: 0 20px;
  }
  body > .wrapper {
  	overflow: hidden;
  }
  .post-content {
    h1, h2, h3 {
      &:before {
        margin-left: 0;
        margin-right: 0.5em;
      }
    }
    img {
      max-width: 100%;
    }
  }
}