// sass --watch -C -t compressed breeze/stylesheets

@charset 'utf-8';
@import 'normalize';
@import 'helper';

.wrapper {
	width: 560px;
	padding: 0 120px;
}

// page header
.page-header {
	background: $breeze;
	overflow: hidden;

	.blog-headline {
		font-size: 2.875em;
		font-weight: normal;
		margin: 0;
		padding: 1em 0 0.25em 0;
		@include font-main;

		a {
			color: white;
			text-decoration: none;
		}
	}
	.blog-tagline {
		color: darken($breeze, 30%);

		&:before {
			content: "\0022";
			display: block;
			font-size: 90px;
		}
	}
	.avatar {
		border: solid 4px #FFF;
		border-radius: 40px;
	}
}
.main-navigation {
	overflow: hidden;
	@include reset-list;

	li {
		float: left;
		margin-right: 30px;

		a {
			display: block;
			color: white;
			font-size: 1.25em;
			text-decoration: none;
			padding-bottom: 18px;
			@include font-main;

			&:hover {
				padding-bottom: 14px;
				border-bottom: solid 4px $green;
			}
		}	
	}
}

// page footer
.page-footer {
	background-color: adjust-color($breeze, $saturation: -35, $lightness: +22);
	font-size: 11px;
	line-height: 1.5em;
	padding: 40px 0;
}

@import 'figure-code';
@import 'media';