.archives{
	position: relative;
	&:last-of-type{
		&:before{
			content: "";
			position: absolute;
			bottom: 0;
			width: 200px;
			border-top: 1px solid $color-gray04;
		}
	}
	.year{
		line-height: 35px;
		width: 200px;
		position: absolute;
		top: 0;
		padding-top: 15px;
		border-top: 1px solid #fff;
		&:before{
			content: "";
			position: absolute;
			top: -2px;
			width: 100%;
			border-top: 1px solid $color-gray04;
		}
		@media screen and (max-width: 600px){
			position: relative;
			width: 100%;
		}
	}
	article{
		margin-left: 200px;
		padding: 10px 0;
		@media screen and (max-width: 600px){
			margin-left: 0;
			&:first-of-type{
				border-top: none;
				padding-top: 30px;
			}
		}
		.title{
			margin-bottom: 0;
            font-size: 25px;
		}
		.meta{
			color: $color-gray02;
			font-size: 0.9em;
			line-height: 2;
			margin-top: 10px;
			@media screen and (max-width: 600px){
				display: none;
			}
			span{
				margin-right: 30px;
				@include inline-block;
				&:before{
					color: $color-gray03;
					font: 1.3em $font-icon;
					padding-right: 10px;
				}
			}
			a{
				color: $color-gray02;
				@include transition(0.3s);
				&:hover{
					color: $color-gray01;
				}
			}
			.date:before{content: "\f073";}
			.tags:before{content: "\f02c";}
			.comments:before{content: "\f075";}
		}
	}
}

.category-dropdown {
  display: inline-block;
  position: relative;
  float: right;
  margin: -20px 0 40px;

  & + * {
  	clear: right;
  }

  .dropdown-toggle, [role=button] {
  	font-size: 16px;
  	font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
  	text-transform: uppercase;
    cursor: pointer;

    & > * {
      display: inline-block;
      vertical-align: middle;
    }
  }
  .dropdown-menu, [role=menu] {
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0 3px 3px rgba(0,0,0,.5);
    opacity: 1;
		z-index: 100;
		position: absolute;
    right: 0;

    &.fade {
      @include transition(opacity 150ms);
    }

    &.hidden {
      opacity: 0;
      pointer-events: none;
    }

    ul {
      background-color: darken(white, 4%);
      list-style: none;
      margin: 0;
      padding: 0.5em 0;
      border: 1px solid rgba(0,0,0,.1);
      border-radius: 3px;
      white-space: nowrap;
    }

    a {
    	color: inherit;
      text-decoration: none;
      padding: 0 1em;
      border-bottom: none;
      display: block;
    }
    a:hover {
      color: inherit;
      background-color: rgba(255,255,255,.7);
    }
  }
}