@media screen and (max-width: 580px) {
	.nav {
		li {
			margin: 0;
			float: none;
			width: 100%;
		}
	}

	.search {
		.search-box {
			width: 90%;
			height: 30px;
		}
	}

	.post-container {
		.rel-date {
			width: 100%;
			display:inline-block;
			float:none;
			margin: percentage(10px/$context) percentage(10px/$context);
		}

		.article {
	      .archive-list {
	      	list-style-type: none;

	        li {
             .archive-date {
               display: inline-block;
               width: 100%;
               margin-top: percentage(15px/$context);
               margin-bottom: percentage(15px/$context);
             }
          }      
	      }
		}

	}
}

@media screen and (max-width: 400px) {
	.wrapper {
		width: 90%;
	}
	
	.post-container {
		width: 95%;
		padding: percentage(15px/$context) percentage(15px/$context);
	}
}
