@media screen and (max-width: 580px) {
	#button {
		display: block;
		width: 100%;
		height: 20px;
		padding: 10px 0 10px 0;
		background: black;
		color: white;
		float: right;
		font-size: 180%;
		text-align: center;
	}

	.nav {
		display: none;

		ul {
			width: 100%;
		}

		li {
		  display: inline-block;
		  width: 100%;
		  margin: 0;
			float: none;

			a {
			 background: black;
			 color: $white;
			}
		}
	}

	.search {
		margin: 10px 0 0 0;
		
		.search-box {
			width: 90%;
			height: 30px;
		}
	}

	.post-container {
		.rel-date {
			width: 100%;
			display:inline-block;
			float:none;
			margin: percentage(10px/$context) percentage(10px/$context);
		}

		.article {
	      .archive-list {
	      	list-style-type: none;
					
	        li {
	        	padding-left: percentage(20px/$context);
          	margin-top: percentage(20px/$context);
          	margin-bottom: percentage(20px/$context);
          	border-left: 5px solid;

            .archive-date {
             	 display: none;
             }
          }      
	      }
		}

	}
}

@media screen and (max-width: 400px) {
	.wrapper {
		width: 90%;
	}
	
	.post-container {
		width: 95%;
		padding: percentage(15px/$context) percentage(15px/$context);
	}
}
