.code .c { color: #586E75 } /* Comment */
.code .err { color: #93A1A1 } /* Error */
.code .g { color: #93A1A1 } /* Generic */
.code .k { color: #859900 } /* Keyword */
.code .l { color: #93A1A1 } /* Literal */
.code .n { color: #93A1A1 } /* Name */
.code .o { color: #859900 } /* Operator */
.code .x { color: #CB4B16 } /* Other */
.code .p { color: #93A1A1 } /* Punctuation */
.code .cm { color: #586E75 } /* Comment.Multiline */
.code .cp { color: #859900 } /* Comment.Preproc */
.code .c1 { color: #586E75 } /* Comment.Single */
.code .cs { color: #859900 } /* Comment.Special */
.code .gd { color: #2AA198 } /* Generic.Deleted */
.code .ge { color: #93A1A1; font-style: italic } /* Generic.Emph */
.code .gr { color: #DC322F } /* Generic.Error */
.code .gh { color: #CB4B16 } /* Generic.Heading */
.code .gi { color: #859900 } /* Generic.Inserted */
.code .go { color: #93A1A1 } /* Generic.Output */
.code .gp { color: #93A1A1 } /* Generic.Prompt */
.code .gs { color: #93A1A1; font-weight: bold } /* Generic.Strong */
.code .gu { color: #CB4B16 } /* Generic.Subheading */
.code .gt { color: #93A1A1 } /* Generic.Traceback */
.code .kc { color: #CB4B16 } /* Keyword.Constant */
.code .kd { color: #268BD2 } /* Keyword.Declaration */
.code .kn { color: #859900 } /* Keyword.Namespace */
.code .kp { color: #859900 } /* Keyword.Pseudo */
.code .kr { color: #268BD2 } /* Keyword.Reserved */
.code .kt { color: #DC322F } /* Keyword.Type */
.code .ld { color: #93A1A1 } /* Literal.Date */
.code .m { color: #2AA198 } /* Literal.Number */
.code .s { color: #2AA198 } /* Literal.String */
.code .na { color: #93A1A1 } /* Name.Attribute */
.code .nb { color: #B58900 } /* Name.Builtin */
.code .nc { color: #268BD2 } /* Name.Class */
.code .no { color: #CB4B16 } /* Name.Constant */
.code .nd { color: #268BD2 } /* Name.Decorator */
.code .ni { color: #CB4B16 } /* Name.Entity */
.code .ne { color: #CB4B16 } /* Name.Exception */
.code .nf { color: #268BD2 } /* Name.Function */
.code .nl { color: #93A1A1 } /* Name.Label */
.code .nn { color: #93A1A1 } /* Name.Namespace */
.code .nx { color: #93A1A1 } /* Name.Other */
.code .py { color: #93A1A1 } /* Name.Property */
.code .nt { color: #268BD2 } /* Name.Tag */
.code .nv { color: #268BD2 } /* Name.Variable */
.code .ow { color: #859900 } /* Operator.Word */
.code .w { color: #93A1A1 } /* Text.Whitespace */
.code .mf { color: #2AA198 } /* Literal.Number.Float */
.code .mh { color: #2AA198 } /* Literal.Number.Hex */
.code .mi { color: #2AA198 } /* Literal.Number.Integer */
.code .mo { color: #2AA198 } /* Literal.Number.Oct */
.code .sb { color: #586E75 } /* Literal.String.Backtick */
.code .sc { color: #2AA198 } /* Literal.String.Char */
.code .sd { color: #93A1A1 } /* Literal.String.Doc */
.code .s2 { color: #2AA198 } /* Literal.String.Double */
.code .se { color: #CB4B16 } /* Literal.String.Escape */
.code .sh { color: #93A1A1 } /* Literal.String.Heredoc */
.code .si { color: #2AA198 } /* Literal.String.Interpol */
.code .sx { color: #2AA198 } /* Literal.String.Other */
.code .sr { color: #DC322F } /* Literal.String.Regex */
.code .s1 { color: #2AA198 } /* Literal.String.Single */
.code .ss { color: #2AA198 } /* Literal.String.Symbol */
.code .bp { color: #268BD2 } /* Name.Builtin.Pseudo */
.code .vc { color: #268BD2 } /* Name.Variable.Class */
.code .vg { color: #268BD2 } /* Name.Variable.Global */
.code .vi { color: #268BD2 } /* Name.Variable.Instance */
.code .il { color: #2AA198 } /* Literal.Number.Integer.Long */
