@import "compass/css3";

.dropdown-menu {
  overflow: hidden;
  position: absolute;
  right: 0;
  border-radius: 5px;
  box-shadow: 0 10px 16px rgba(0,0,0,.35),
              0 0 1px 1px rgba(0,0,0,.2);
  opacity: 1;

  &.fade {
    @include transition(opacity 150ms);
  }

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }

  ul {
    background-color: darken(white, 3%);
    list-style: none;
    margin: 0;
    padding: 0.5em 0;
    border-radius: 4px;
    white-space: nowrap;
  }

  a {
    text-decoration: none;
    padding: 0 1em;
    border-bottom: none;
    display: block;
  }
  a:hover {
    color: inherit;
    background-color: rgba(255,255,255,.85);
  }
}

.dropdown {
  display: inline-block;
  position: relative;

  .dropdown-toggle, [role=button] {
    cursor: pointer;
  }
  [role=menu] {
    @extend .dropdown-menu;
  }
}

.category-dropdown {
  @extend .dropdown;

  .dropdown-toggle, [role=button] {
    & > * {
      display: inline-block;
      vertical-align: middle;
    }
  }
}
